<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <title>My Website</title>
  </head>

  <body class="container">
    <div class="row mt-4 g-4">
      <div class="col-8">
        <h1 class="mb-4">List of doggos</h1>

        <!-- Use jinja template to generate "dynamic" text format -->
        <ul class="list-group fs-5 me-5" id="dog-list">
          {{ range .Dogs }}
            {{ block "dog-list-element" .}}
            <li class="list-group-item bg-primary text-white">{{ .Name }} - {{ .Breed }}</li>
            {{ end }}
          {{ end }}
        </ul>
      </div>

      <div class="col-4">
        <h1 class="mb-4">Add a furry pet</h1>
        
        <form hx-post="/add-dog/" hx-target="#dog-list" hx-swap="beforeend" hx-indicator="#spinner">
          <div class="mb-2 form-group">
            <label for="dog-name">Name</label>
            <input type="text" name="name" id="dog-name" class="form-control">
          </div>

          <div class="mb-3 form-group">
            <label for="dog-breed">Breed</label>
            <input type="text" name="breed" id="dog-breed" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            Submit
            <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner"></span>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
